.movie
  margin-top 10px

  &:first-child
    margin-top 0

.movie-inner
  display flex
  align-items flex-start
  padding 15px 18px
  width 100%
  background #fff
  text-decoration none

  .cover
    width 80px
    height auto
    object-fit cover
    border-radius 4px

  .info
    margin-left 15px
    color #aaa
    font-size 12px
    flex 1
    line-height 1.5

  .title
    color #494949
    font-size 17px
    line-height 1.3
    font-weight 50

  .meta
    margin-top 5px
    overflow hidden
    text-overflow ellipsis
    max-width 250px
    white-space nowrap

    b
      font-weight 400

  .meta-star
    display flex
    justify-content flex-start
    align-items center

    .stars+span
      margin-left 10px
      font-size 14px

  .meta-tags
    &> span
      margin-right 8px

  .star
    display inline-block
    margin-right 3px
    width 13px
    height 13px
    background url('//pic.superbed.cn/item/5ca8cdcd3a213b0417c751de')
    background-size cover
    background-size contain
    background-repeat no-repeat

    &.star-half
      background-image url('//pic.superbed.cn/item/5ca8cdcd3a213b0417c751e3')