.star-type
  text-align right
  line-height 1

  .star
    width 6px
    height 6px

  .star-bar
    position relative
    display inline-block
    margin-left 5px
    width 120px
    height 5px
    background #eee
    border-radius 3px
    overflow hidden

    .bar-active
      display block
      width 35%
      height 100%
      background #ffb712
      border-radius 3px