.comment
  padding 15px 0

  .header
    display flex
    align-items flex-start

  .avatar
    display block
    margin-right 10px
    width 42px
    height 42px
    border-radius 50%
    overflow hidden

  .name
    color #494949
    font-size 14px
    font-weight 600

  .meta
    color #aaa
    font-size 12px

  .star
    display inline-block
    margin-right 3px
    width 10px
    height 10px
    background url('//pic.superbed.cn/item/5ca8cdcd3a213b0417c751de')
    background-size cover
    background-size contain
    background-repeat no-repeat

    &.gray
      background-image url('//ae01.alicdn.com/kf/HTB1YiD6PMHqK1RjSZJn762NLpXay.png')

    &.half
      background-image url('//pic.superbed.cn/item/5ca8cdcd3a213b0417c751e3')

  .date
    margin-left 10px

  .summary
    margin-top 15px
    color #494949