.home-wrapper
  display flex
  flex-direction column
  justify-content center
  align-items center
  margin 0 auto
  padding 10px 20px
  width 100%
  max-width 980px
  text-align center

  .intro
    font-size 48px
    font-weight 600
    line-height 1

  .desc
    margin-top 10px
    font-size 16px

  .btn-request
    display inline-block
    margin-top 20px
    padding 10px 20px
    font-size 18px
    border 1px solid
    cursor pointer
    user-select none
    outline none
    background #fff

    &:hover
    &:focus
      color #05f
      border-color #05f

.modal-invite
  padding 40px

  .invite-title
    position relative
    padding-bottom 15px
    font-size 20px
    font-weight 600
    text-align center

    &:after
      content ''
      position absolute
      left 50%
      bottom 0
      margin-left -25px
      width 50px
      height 2px
      background #3C3C3C

  .invite-body
    margin-top 40px

    input
      display block
      margin 0 auto 15px
      padding 0 10px
      width 100%
      height 40px
      font-size 16px
      border 1px solid #3C3C3C
      max-width 300px
      outline none
      box-sizing border-box

      &:focus
        border-color #05f

      &.error
        border-color #ff4d4f

    .invite-submit
      display block
      margin 40px auto 0
      width 100%
      height 40px
      color #3C3C3C
      border 1px solid #3C3C3C
      line-height 40px
      text-align center
      max-width 300px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      cursor pointer
      outline none
      background #fff

      &:hover
      &:focus
        color #05f
        border-color #05f

    .invite-err-tip
      margin-top 10px
      color #ff4d4f
      text-align center