.wrapper
  display flex
  flex-direction column
  min-height 100vh

.main
  margin 60px auto 0
  width 100%
  font-size 16px
  flex 1 0 auto
  max-width 960px
  line-height 2

  em
    font-weight 600
    text-decoration underline

  .main-greet
    font-size 32px
    font-weight 600

  .main-head
    font-size 32px
    font-weight 600

  .main-worked
    padding 80px 0

  .worked-company
    display flex
    justify-content flex-start
    align-items center
    margin-top 20px

    em
      margin-right 40px
      filter grayscale(1)