#root
  color #404042
  font 14px 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif
  background #fff
  min-height 100vh
  line-height 1.5

  .wrapper
    display flex
    flex-direction column
    min-height 100vh
