.article-item
  padding 24px 0

  &:first-child
    padding-top 0

  .item
    display block
    text-decoration none

  .title
    font-size 18px
    font-weight 700

    &:hover
      color #05f

  .desc
    display -webkit-box
    margin-top 10px
    color #aaa
    overflow hidden
    text-overflow ellipsis
    -webkit-line-clamp 3
    -webkit-box-orient vertical

  .meta
    margin-top 12px
    color #aaa
    font-size 12px

    .date
      margin-right 25px

    .tag
      margin-left 15px
      text-decoration underline