/* app global define */
html
body
  height 100%

body
  position relative
  color #3C3C3C
  font-size 14px
  line-height 1.5
  font-family -apple-system, PingFang SC, Helvetica Neue, STHeiti, Microsoft Yahei, Tahoma, sans-serif
  -webkit-font-smoothing antialiased
  background-color #fff

.root
  height 100%
  overflow auto